<section id="intro" class="feature">
    <div class="row logo">
        <div class="large-12 columns">
            <a href="http://www.thoughtworks.com" target="_blank"
                onclick="ga('send', 'event', 'tw', 'tw')" class="tw-logo">
                <img src="./img/tw-logo-black.svg" alt="ThoughtWorks" align="center" />
            </a>

            <div class = "vodqa-logo">
                <span class="text">vodQA<span>
            </div>

            <% if @item[:subheader] %>
                <h6 class="subheader"><%= @item[:subheader] %></h6>
            <% end %>
            <% if @item[:subnote] %>
                <div class="subnote"><%= @item[:subnote] %></div>
            <% end %>
        </div>
    </div>

    <div class="row countdown">
        <div class="small-8 small-offset-2 large-4 large-offset-0 columns date">
            <p><%= @item[:edition] %><sup><%= @item[:edition].ordinal %></sup> edition</p>
            <h4><%= start_date.strftime("%b %-d").downcase %></h4>
        </div>
        <div class="small-6 large-2 columns counter">
            <h4><span id="days">&nbsp;</span></h4>
            <p>days</p>
        </div>
        <div class="small-6 large-2 columns counter">
            <h4><span id="hours">&nbsp;</span></h4>
            <p>hours</p>
        </div>
        <div class="small-6 large-2 columns counter">
            <h4><span id="minutes">&nbsp;</span></h4>
            <p>minutes</p>
        </div>
        <div class="small-6 large-2 columns counter">
            <h4 id="seconds">
                &nbsp; <!-- the nbsp is required -->
                <span id="tick">&nbsp;</span>
                <span id="tock">&nbsp;</span>
                <span id="tack">&nbsp;</span>
            </h4>
            <p>seconds</p>
        </div>
    </div>

</section>